{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ blog.name }}</h2>
                <span>Author: {{ blog.author }}</span>
                <div>
                    <small>{{ blog.post_date }}</small>
                </div>

                <div>
                    {% if user.is_authenticated %}
                        {% if user.id == blog.author.id %}
                            <a class="btn btn-sm btn-info" href="{% url 'UpdateBlogView' blog.id %}"><i
                                    class="fa-solid fa-pen-to-square"> </i>
                                Редактировать БЛОГ</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'DeleteBlogView' blog.id %}"><i
                                    class="fa-solid fa-trash"> Удалить БЛОГ</a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>

            <div>
                <p>{{ blog.description | safe }}</p>
            </div>

            <div>
                <h3>Комментарии ({{ all_comments.count }}</h3>

                {% for comment in all_commets %}
                    <div class="card md-2">
                        <div class="card-header">
                            {{ comment.author }} <br>
                            {{ comment.comment_date| timesince }} тому назад
                        </div>

                    <div class="card-body">
                        <blockquote class="blockquote mt-2">
                            <p>{{ comment.description }}</p>
                        </blockquote>
                    </div>
                    </div>
                {% endfor %}

            </div>

            <div class="col">
                {% if user.is_authenticated %}
                    {% if blog.author.id == user.id %}
                        <h3 class="text-center text-warning">Вам не разрешается оставлять комментарии в своем
                            собственном блоге</h3>
                    {% else %}
                        <h3>Напишите свой комментарий ...</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-primary">Отправить</button>
                        </form>
                    {% endif %}
                {% else %}
                    <h2 class="text-center text-danger">Пожалуйста, войдите в систему, чтобы прокомментировать этот пост
                        <a href="{% url 'login' %}">Авторизоваться</a>
                    </h2>
                {% endif %}


            </div>

            <div class="col-md-4">
                <ul class="list-group">
                    {% for blogs in all_blogs %}
                        <li class="list-group-item">
                            <a href="{% url 'blog_detail' blogs.slug %}"
                               class="text-decoration-none">{{ blogs.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>

    <script>
        let name = "{{ user.id }}"
        let blog = "{{ blog.id }}"
        document.getElementById("author").value = name;
        document.getElementById("blog").value = blog;
    </script>
{% endblock content %}