{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ blog.name }}</h2>
                <span>Author: {{ blog.author }}</span>
                <div>
                    <small>{{ blog.post_date }}</small>
                </div>

                <img src="" alt="" width="40%">
            </div>

            <div>
                <p>{{ blog.description }}</p>
            </div>

            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">A fifth one</li>
                </ul>
            </div>

        </div>

    </div>
{% endblock content %}