{% extends 'base.html' %}

{% block content %}
    <h2>Меняем пароль для {{ user.username }}</h2>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Старый пароль</label>
                {{ form.old_password }}
            </div>

            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Новый пароль</label>
                {{ form.new_password1 }}
            </div>

            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Подтверди новый пароль</label>
                {{ form.new_password2 }}
            </div>

        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Правило для создания пароля 1</li>
            <li class="list-group-item">Правило для создания пароля 2</li>
            <li class="list-group-item">Правило для создания пароля 3</li>
        </ul>

        <button type="submit" class="btn btn-lg btn-success mt-3">Сохранить пароль</button>
    </form>

    <h4 class="mt-4">ПРАВИЛА</h4>
    <ul class="list-group">
        <li class="list-group-item">Правило для создания пароля 1</li>
        <li class="list-group-item">Правило для создания пароля 2</li>
        <li class="list-group-item">Правило для создания пароля 3</li>
    </ul>
{% endblock %}