{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h2 class="fw-bolder">Привет, <span class="text-primary">{{ user.username }}!!</span></h2>

    <div class="card">
        <div class="card-body text-center">

            {% if user_profile_data.profile_image %}
                <img class="rounder" src="{{ user_profile_data.profile_image.url }}"
                     alt="{{ user.username }} изображение профиля" width="10%" height="10%">
            {% else %}
                <img class="rounder" src="https://www.w3schools.com/howto/img_avatar.png"
                     alt="{{ user.username }} изображение профиля" width="10%" height="10%">
            {% endif %}

            <h3 class="fs-1 fw-bolder mt-3">{{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</h3>

            {% if user_profile_data.bio %}
                <p>{{ user_profile_data.bio }}</p>
            {% else %}
                <p><span class="text-danger">404</span> биография не найдена</p>
            {% endif %}

            <div class="fs-5">
                {% if user_profile_data.locatio %}
                    <span class="me-3"><i class="fa-solid fa-location-pin text-primary"></i>
                        {{ user_profile_data.locatio }}</span>
                {% endif %}

                {% if user_profile_data.dob %}
                    <span class="me-3"><i
                            class="fa-solid fa-cake-candles text-primary"></i>{{ user_profile_data.dob }}</span>
                {% endif %}

                {% if user.email %}
                    <span class="me-5"><i class="fa-solid fa-envelope text-primary"></i>{{ user.email }}</span>
                {% endif %}

                {% if user_profile_data.website %}
                    <a class="me-2" href="{{ user_profile_data.website }}"><i
                            class="fa-sharp fa-light fa-earth-europe"></i>
                    </a>
                {% endif %}

                {% if user_profile_data.github %}
                    <a class="me-2" href="{{ user_profile_data.github }}"><i class="fa-brands fa-github"></i></a>
                {% endif %}

            </div>
        </div>
        <div class="card-footer text-center">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="fw-bold">Образование</h5>
                    <p>{{ user_profile_data.education }}</p>
                </div>
                <div class="col-md-6">
                    <h5 class="fw-bold">Работа</h5>
                    <p>{{ user_profile_data.work }}</p>
                </div>
            </div>
        </div>
    </div>


    <h3>Мои сообщения</h3>

    <div class="row mt-2">
        <div class="col-md-3">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>В настоящее время изучаю</h4>
                </div>
                <div class="card-body">
                    <p>PYTHON И DJANDO</p>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <h4>Навыки и языки</h4>
                </div>
                <div class="card-body">
                    <p>PYTHON И DJANDO</p>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <h4>...</h4>
                </div>
                <div class="card-body">
                    <p>{{ user_related_count }} - ПОСТОВ</p>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            {% for post_data in user_related_data %}
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote md-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{ post_data.name }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-end"><i
                                            class="fa-solid fa-clock"> {{ post_data.post_data|timesince }}</p>
                                </div>
                            </div>
                            <footer class="blockquote-footer">{{ post_data.mini_description | truncatewords:50 }}</footer>
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-primary" href="{% url 'blog_detail' post_data.slug %}"><i
                                class="fa-solid fa-readme"></i> Читать БЛОГ</a>
                        <a class="btn btn-sm btn-info" href="{% url 'UpdateBlogView' post_data.id %}"><i
                                class="fa-solid fa-pen-to-square"> </i> Редактировать БЛОГ</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'DeleteBlogView' post_data.id %}"><i
                                class="fa-solid fa-trash"> Удалить БЛОГ</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}