{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="card border-success md-3">
        <div class="card-header bg-transparent border-success fs-4">{{ user.username }}</div>
        <div class="card-body">
            {% if user.username %}
                <p class="card-text">Имя пользователя: {{ user.username }}</p>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <b>Имя пользователя</b> отсутствует
                </div>
            {% endif %}

            {% if user.first_name %}
                <p class="card-text">Имя: {{ user.first_name }}</p>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <b>Имя</b> отсутствует
                </div>
            {% endif %}

            {% if user.last_name %}
                <p class="card-text">Фамилия: {{ user.last_name }}</p>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <b>Фамилия</b> отсутствует
                </div>
            {% endif %}

            {% if user.email %}
                <p class="card-text">Email: {{ user.email }}</p>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <b>EMAIL</b> отсутствует
                </div>
            {% endif %}
        </div>
        <div class="card-footer bg-transparent border-success">


        </div>
    </div>

    <h3>Мои сообщения</h3>

    {% for post_data in user_related_data %}
        <div class="card mt-1">
            <div class="card-body">
                <blockquote class="blockquote md-0">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ post_data.name }}</p>
                        </div>

                        <div class="col-md-6">
                            <p class="text-end"><i class="fa-solid fa-clock"> {{ post_data.post_data|timesince }}</p>
                        </div>
                    </div>
                    <footer class="blockquote-footer">{{ post_data.mini_description | truncatewords:50 }}</footer>
                </blockquote>
            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-primary" href="{% url 'blog_detail' post_data.slug %}"><i
                        class="fa-solid fa-readme"></i> Читать БЛОГ</a>
                <a class="btn btn-sm btn-info" href="{% url 'UpdateBlogView' post_data.id %}"><i
                        class="fa-solid fa-pen-to-square"> </i> Редактировать БЛОГ</a>
                <a class="btn btn-sm btn-danger" href="{% url 'DeleteBlogView' post_data.id %}"><i
                        class="fa-solid fa-trash"> Удалить БЛОГ</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}